<footer>
    <!-- Begin Footer Row -->
    <div class="container-fluid blinn-footer-container">
        <div class="container">
            <div class="row">

                <!-- Column 1 -->
                <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <h3>Contact Information</h3>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="support.html">Support & FAQs</a></li>
                        <li><a href="volunteer.html">Volunteer Opportunities</a></li>
                        <li><a href="new-games.html">New Games</a></li>
                    </ul>
                </div>

                <!-- Column 2 -->
                <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <h3>Legal Information</h3>
                    <ul>
                        <li><a href="private-policy.html">Private Policy</a></li>
                        <li><a href="accessibility.html">Accessibility</a></li>
                        <li><a href="partners.html">Community Partners</a></li>
                        <li><a href="news.html">News & Updates</a></li>
                    </ul>
                </div>

                <!-- Column 3 -->
                <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <h3>Sales</h3>
                    <ul>
                        <li><a href="merch.html">Merch</a></li>
                        <li><a href="deals.html">Deals</a></li>
                        <li><a href="new-limited-addition.html">New Limited Addition</a></li>
                        <li><a href="gift-cards.html">Gift Cards</a></li>
                    </ul>
                </div>

                <!-- Column 4 -->
                <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="bug-report.html">Bug Report</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="community-events.html">Events</a></li>
                        <li><a href="community.html">Community</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- End Footer Row -->
</footer>